name: ci

concurrency: ci

on:
  push:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install fq
        run: |
          curl -OLs https://github.com/wader/fq/releases/download/v0.14.0/fq_0.14.0_linux_amd64.tar.gz
          tar -xzf fq*.tar.gz
          sudo install -Dm755 fq /usr/local/bin/fq

      - name: Convert YAML to JSON
        run: |
          mkdir /tmp/public
          fq -r . projects.yml > /tmp/public/projects.json

      - name: Deploy to public branch
        run: |
          cd /tmp/public
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git init -b public
          git add .
          git commit -m "Update public content"
          git remote add origin https://github.com/${{ github.repository }}
          git push -f origin public
